@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #3593c4; color: #fff">
    <div class="row">
        <div class="col-md-9">
            <h1>Closerme News</h1>
            <p class="lead">Las noticias mas relevantes de la actualidad a tu alcance.</p>
        </div>
        <div class="col-md-3">
            <img src="~/Content/img/closerme-w.png" style="width:200px; height:200px; color: #fff; " />
        </div>

    </div>
</div>
<!--------------------->


    <div class="container">
        <div class="row">
            <div class="col-md-4 fondoSubtitulos">
                <h4 class="subtitulos"> Emprendimiento </h4>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-6 col-md-4">
                
                <div class="thumbnail">
                    <img src="/Content/img/s1/Noticia1.jpg"/>
                    <div class="caption">
                        <h3>@Html.ActionLink("Mercado Libre emite deuda por $800 millones de dólares", "noticia", "Home")</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion1/Noticia2.jpg">
                    <div class="caption">
                        <h3>Los retos del Ecommerce en Perú</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion1/Noticia3.jpg">
                    <div class="caption">
                        <h3>Logística y envíos, la clave del éxito o fracaso del Ecommerce</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!--------------------->

<div class="container-fluid" style="background: #d9dbdd">
    <div class="container">
        <div class="row">
            <div class="col-md-4 fondoSubtitulos">
                <h4 class="subtitulos"> Entretenimiento </h4>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion2/Noticia1.jpg">
                    <div class="caption">
                        <h3>Leslie Moonves, jefe de CBS deja su cargo por denuncias de agresión sexual</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/fondo.jpg" />
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="..." alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>

        </div>

       
    </div>
</div>

<!--------------------->

<div class="container-fluid">
    <div class="container">

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-4 fondoSubtitulos">
                <h4 class="subtitulos"> Tecnología </h4>
            </div>
            <div class="col-md-8"></div>
        </div>
        <br>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion3/Noticia1.jpg">
                    <div class="caption">
                        <h3>Cómo Google arruinó mi negocio</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion3/Noticia2.jpg">
                    <div class="caption">
                        <h3>Únete al programa de Visual Studio para tener acceso a sus servicios gratuitos</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion3/Noticia3.jpg ">
                    <div class="caption">
                        <h3>Ether, bitcoin y el resto de criptodivisas caen a plomo, y nadie parece saber por qué</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-6 col-md-4" style="margin-bottom: 20px;">
                <div class="thumbnail">
                    <img src="/Content/img/Seccion3/Noticia4.jpg" alt="...">
                    <div class="caption">
                        <h3>Varias aplicaciones populares de la Mac App Store fueron descubiertas robando datos de los usuarios</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Ver más</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="https://code.jquery.com/jquery-1-12.0.min.js">
</script>
<script type="https://code.jquery.com/jquery-latest.js">
</script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
