
@{
    ViewBag.Title = "Noticia1s1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--------------------->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img class="imgenesTitulos" src="/Content/img/s1/Noticia1.jpg" />
        </div>
    </div>
</div>

<div class="container-fluid" style="background: #d9dbdd">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h4 class="titulosArticulos"> Mercado Libre emite deuda por $800 millones de dólares </h4>
                <div class="col-md-11"></div>                                        
            </div>
       </div>
        <div class="row">
            <div class="col-md-1">
                <p class="fuenteArticulo">Fuente : </p>
            </div>
            <div class="col-md-2"><a  target="_blank" class="fuenteEnlace" href="https://pulsosocial.com/2018/08/27/mercado-libre-emite-deuda-por-800-millones-de-dolares/">Pulso Social</a></div>
            </div>
        </div>
    <br />
    <div class="container">
              <div class="row">
                  <div class="col-md-6">
                      <p class="subtitulosArticulos">Con estos bonos de deuda, Mercado Libre espera invertir en el mejoramiento de sus procesos logísticos y en el sistema de pagos electrónicos.</p>
                      <br />
                      <p class="contenidoAriticulo">El grupo argentino de ecommerce anunció el pasado 22 de agosto el lanzamiento de títulos convertibles de deuda, que tienen fecha de vencimiento en 2028.</p>
                      <img class="imgArticulo" src="/Content/img/Seccion1/mercadolibre.png" />
                      <p class="contenidoAriticulo">La empresa otorgará a los primeros compradores un plazo adicional de trece días para acceder hasta un monto de 120 millones de dólares en notas, según el comunicado de prensa que emitieron. Después de febrero de 2028, los compradores de los bonos recibirán acciones ordinarias de Mercado Libre, dinero en efectivo o una combinación de ambas. </p>
                      
                  </div>
                  <div class="col-md6">                     
                      <p class="contenidoAriticulo">Los fondos que recaude la empresa, serán usados para mejorar la red de logística y su sistema de pagos digitales. Así mismo, espera invertir $75 millones de dólares en un centro de distribución que funcionaría en Argentina y le permitiría clasificar alrededor de trescientos mil paquetes diarios gracias a la automatización.</p>                      
                      <p class="contenidoAriticulo">Los bonos emitidos por la empresa tendrán que pagar un interés del 2 % anual, a menos que se conviertan, compren o canjeen de acuerdo a los términos de la misma. Además, Mercado Libre tendrá la oportunidad de recomprar o canjear los bonos solo después de 2023.
La compañía argentina espera utilizar parte del dinero de los nuevos bonos para comprar, intercambiar o retirar del mercado los bonos convertibles que emitió en 2014, que se vencen en 2019.</p>                      
                  </div>
                  
              </div>
    </div>
    <br />
    <!------------<img class="imgArticulo" src="/Content/img/Seccion1/red-logistica-600x377.png" />--------->
        </div>


        <script type="https://code.jquery.com/jquery-1-12.0.min.js">
        </script>
        <script type="https://code.jquery.com/jquery-latest.js">
        </script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


